{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        <form>
            <input type="text" name="feed"/>
            <input type="submit">
        </form>

        <ul>
            {% for feed in feeds %}
            <li>{{ feed.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        Entries
    </div>
    <div class="col-md-6">
        Contents
    </div>

{% endblock %}
