/web/bundles
/web/css/*
!web/css/.gitkeep
/web/js/*
!web/js/.gitkeep
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/bootstrap.php.cache
/app/config/parameters.yml
/bin
/vendor
.vagrant
