<!DOCTYPE html>
<html lang="en" ng-app="feederate">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Feederate !{% endblock %}</title>

    {% include '::includes/stylesheets.html.twig' %}
    {% include '::includes/javascripts.html.twig' %}
    {% include '::includes/analytics.html.twig' %}

    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  </head>

  <body ng-controller="BoardCtrl" ng-class="selectedType">

    <div class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% verbatim %}
            <a class="glyphicon glyphicon-chevron-left navigation-area navigation-area-feeds" href="#feeds" ng-show="selectedType=='summaries'"></a>
            <a class="glyphicon glyphicon-chevron-left navigation-area navigation-area-summaries" href="#summaries" ng-show="selectedType=='entry'"></a>
          {% endverbatim %}
          <a class="navbar-brand" href="{{ path('feederate_feederate_front_index') }}">Feederate</a>
        </div>
        <div class="collapse navbar-collapse">
          {% include '::includes/navigation.html.twig' %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div><!-- /.container -->
  </body>
</html>
