parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     feederate
    database_user:     root
    database_password: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    mailer_transport:  smtp
    mailer_host:       ~
    mailer_port:       ~
    mailer_encryption: ~
    mailer_user:       ~
    mailer_password:   ~
