parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     feederate
    database_user:     root
    database_password: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    mailer_transport:  smtp
    mailer_host:       mail.gandi.net
    mailer_port:       465
    mailer_encryption: ssl
    mailer_user:       team@feederate.me
    mailer_password:   ~

    feedback_email:    %mailer_user%

    session_memcache_host: 127.0.0.1
    session_memcache_port: 11211
    session_memcache_prefix: sess
    session_memcache_expire: 172800
