{% extends '::base.html.twig' %}

{% block body %}
<div id="feederate">
    <h1>Settings</h1>
    <ul>
        <li><a href="{{ path('feederate_feederate_settings_import') }}">Import</a></li>
    </ul>
</div>
{% endblock %}
