@lightBackground: #fdfdfe;
@highlightBackground: #f2f5f9;
@darkBackground: #ecf0f7;

@mainColor: #e76868;

@normalFontColor: #333;
@darkFontColor: #707782;

@normalFontSize: 16px;
@normalLineHeight: 24px;
@smallFontSize: 12px;
@smallLineHeight: 18px;

@readOpacity: 0.6;
