@lightBackground: #f3f3ec;
@highlightBackground: @lightBackground + #112;
@darkBackground: #900;

@normalFontColor: #333;

@normalFontSize: 16px;
@normalLineHeight: 24px;
@smallFontSize: 12px;
@smallLineHeight: 18px;

@separatorColor: #848484;

@readOpacity: 0.6;

@selectedCellBorderWidth: 2px;