@lightBackground: #F2F3E9;
@highlightBackground: @lightBackground + #112;
@darkBackground:  @lightBackground - #222;
@darkerBackground:  @darkBackground - #222;

@mainColor: #C44D58;

@normalFontColor: #333;
@darkFontColor: #707782;

@normalFontSize: 16px;
@normalLineHeight: 24px;
@smallFontSize: 12px;
@smallLineHeight: 18px;

@readOpacity: 0.6;
