{% extends '::symfony.html.twig' %}

{% block body %}
<div id="feederate">
    <h1>Admin</h1>
    <ul>
        <li><a href="{{ path('feederate_feederate_admin_invitations') }}">Invitations list</a></li>
    </ul>
</div>
{% endblock %}
