{% extends '::symfony.html.twig' %}

{% block body %}
<h1>Admin</h1>
<ul>
    <li><a href="{{ path('feederate_feederate_admin_invitations') }}">Invitations list</a></li>
    <li><a href="{{ path('feederate_feederate_admin_stats') }}">Stats</a></li>
</ul>
{% endblock %}
