{% extends '::base.html.twig' %}

{% block body %}
<div id="feederate">
    <h1>Admin</h1>
    <ul>
        <li><a href="{{ path('feederate_feederate_admin_invitationrequest') }}">Create an invitation</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Sign Up</a></li>
    </ul>
</div>
{% endblock %}
