{% extends '::base.html.twig' %}

{% block body %}
<div id="feederate">
    <h1>Create an invitation</h1>
    <form role="form" method="POST">
      <div class="form-group">
        {{ form_row(form.email) }}
      </div>
      {{form(form)}}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
