{% extends '::symfony.html.twig' %}

{% block body %}
<div class="container">
    <div class="row text-center">
        <h3>Thank you for your feedback !</h3>
        <p>This will help us to improve Feederate and the user experience.</p>
    </div>
</div>
{% endblock %}